/* 
  .row{
     display: grid;
    grid-template-rows: repeat(2 , 1fr); 
    grid-gap: 20px;
        

}
#like{
grid-row: 1;
}
#deslike{
    grid-row: 2;
    }
/* */
/* #card1{
    display: grid;
    grid-column: 1;
    grid-row: 1;

}
#card2{
    display: grid;
    grid-column: 1;
    grid-row: 2;

}
#card3{
    display: grid;
    grid-column: 2;
    grid-row: 1;

}
#card4{
    display: grid;
    grid-column: 2;
    grid-row: 2;

}  */ */

.aimer{
    vertical-align: inherit;
}

 .btn-close{
    display: grid;
    grid-column: 2;
    grid-row: 1;
} 
#like{
    display: grid;
    /* display: flex;
    flex-direction: row;
    align-content: space-between; */
}
p{
    grid-row: 2;
}
button{
    margin : 10px;
}
.btn-close{
    width: 74 px;
    align-self: flex-end;
}

